@import "index.css";

nav {
  display: none;
}

#newGame {
  display: none;
}

#saveGame {
  display: block;
}

.menuBtn {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
  margin: 0.5rem;
}

.bar1, .bar2, .bar3 {
  width: 1.2rem;
  height: 0.2rem;
  background-color: #FFF;
  margin: 0.2rem 0;
  transition: 0.3s;
}

.opened .bar1 {
  -webkit-transform: rotate(-45deg) translate(-0.25rem, 0.18rem);
  transform: rotate(-45deg) translate(-0.25rem, 0.18rem);
}

.opened .bar2 {
  opacity: 0;
}

.opened .bar3 {
  -webkit-transform: rotate(45deg) translate(-0.35rem, -0.32rem);
  transform: rotate(45deg) translate(-0.35rem, -0.32rem);
}

.view {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.bg {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

/*.sprites {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: visible;
}

 .m {
  position: relative;
  display: block;
  margin: 0;
  height: 100%;
  float: right;
  right: 50%;
}

.m img {
  min-height: 100%;
  position: relative;
  right: -50%;
} */
.sprites {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: visible;
}

.m {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-width: 20%;
  width: auto;
  min-height: 100%;
  height: 100%;
}

.m img {
  position: relative;
  min-height: 100%;
  max-height: 200%;
  max-width: 150%;
  bottom: -30%;
  width: auto;
}

.text {
  background-color: #FFF;
  position: fixed;
  height: auto;
  min-height: 4rem;
  width: 30rem;
  max-width: 100%;
  bottom: 0;
}

p {
  display: block;
  margin: 0;
}

.text p {
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
