@import "shared.css";

nav {
  display: flex;
  position: fixed;
  align-items: center;
  align-content: center;
  justify-content: center;
}

ol {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: #FFF;
  cursor: pointer;
}

a:hover {
  color: #CCC;
}
